@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,700;1,900&display=swap');

.testecor1{
    color: #010300;
}
.testecor2{
    color: #314c53;
}
.testecor3{
    color: #5a7f78;
}
.testecor4{
    color: #bbdec6;
}
.testecor5{
    color: #f7f8fc;
}


html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.lista-cabeca { /* UL lista */
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    
}

.cabeca { /* Navbar header*/
    background:#314c53;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: right;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

li { /* Estilização dos pontos da lista*/
    list-style-type: none;
    color: grey;
    cursor: pointer;
    padding: 20px;
    color: #f7f8fc;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.profile-button{ /* Botão de perfil*/
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.nome-loja{ /* Nome da loja do header*/
    left: 50px;
    padding: 20px;
    position: absolute;
    color: #f7f8fc;
}

.btnProfile-popup{  /* Popup click perfil*/
    width: 130px;
    background: transparent;
    border: 2px solid #bbdec6;
    border-radius: 10px;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
    
}

.btnSettings{ /*Botões dentro da popup*/
    background: transparent;
    border: none;
    text-align: start;
    color: #010300;
}

.btnProfile-popup:hover{ /*depois que aparece a popup*/
    background: white;
}

footer{ /*Estilização do rodapé em geral*/
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    background-color: #314c53;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    justify-content: space-around;    
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    left: 0;
}

.footer-div{ /*Estilização das divs do rodapé*/
    text-align: start;
    padding: 20px;
    padding-top: 10px;
    justify-content: start;
    color: #f7f8fc;
    max-width: 150px;
    text-align: center;
    justify-content: center;
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;

}

#wrapper{
    min-height: 100%;
    position: relative;
}

div.body-content{
    padding-bottom: 100px;
}